<h2>make a new post</h2>
<form {{action 'create' newPost on="submit"}}>
  {{#if isSaving}}
    <p>saving post...</p>
  {{/if}}
  <p>{{input type="text" value=name}}</p>
  <p>{{textarea value=body}}</p>
  <p>{{view Fortchan12.UploadFile name="photo" file=photo}}</p>
  <button type="submit">Create</button>
</form>

<h2>posts</h2>
{{#each reversedPosts}}
  {{name}} says
  {{body}}
  <img {{bind-attr src="photo_thumb_url"}} />
  {{created_at}}
  {{#link-to 'post' this}}
    {{id}}
  {{/link-to}}
  <br />
{{/each}}
