<h2>posts</h2>
{{#each}}
  {{name}} says
  {{body}}
  <img {{bind-attr src="photo_thumb_url"}} />
  {{created_at}}
  {{#link-to 'post' this}}
    {{id}}
  {{/link-to}}
  <br />
{{/each}}
<p>{{#link-to 'posts.new'}}Create a new post{{/link-to}}</p>
<h3>post:</h3>
{{outlet}}
