{{partial 'form'}}

{{#each}}
  <div class="topic">
    {{#each post in this.posts}}
      {{format-date post.createdAt}}
      {{post.name}} says
      {{post.body}}
      <a {{bind-attr href="post.photo_url"}}><img {{bind-attr src="post.photo_thumb_url"}} /></a>
      <br />
    {{/each}}
    {{#link-to 'topic' this}}
      Reply
    {{/link-to}}
  </div>
  <br style="clear:both;" />
  <hr />
{{/each}}
