<h1>topics</h1>
<h2>make a new topic</h2>
<form {{action 'create' newPost on="submit"}}>
  {{#if isSaving}}
    <p>saving post...</p>
  {{/if}}
  <p>{{input type="text" value=name}}</p>
  <p>{{textarea value=body}}</p>
  <p>{{view Fortchan12.UploadFile name="photo" file=photo}}</p>
  <button type="submit">Create</button>
</form>

{{#each topic in reversedTopics}}
  <div class="topic">
    {{#each post in topic.posts}}
      {{post.name}} says
      {{post.body}}
      <img {{bind-attr src="post.photo_thumb_url"}} />
      {{post.created_at}}
      <br />
    {{/each}}
    {{#link-to 'topic' topic}}
      Reply
    {{/link-to}}
  </div>
  <br style="clear:both;" />
  <hr />
{{/each}}
