<h1>topics</h1>
<h2>make a new topic</h2>
<form {{action 'create' on="submit"}}>
  {{#if isSaving}}
    <p>saving post...</p>
  {{/if}}
  <div class="postarea_container">
    <div class="postarea">
      <table>
        <tr>
          <td class="fieldlabel">Name</td>
          <td class="field">{{input type="text" value=name}}</td>
        </tr>
        <tr>
          <td class="fieldlabel">Post</td>
          <td class="field">{{textarea value=body}}</td>
        </tr>
        <tr>
          <td class="fieldlabel">Photo</td>
          <td class="field">{{view Fortchan12.UploadFile name="photo" file=photo}}</td>
        </tr>
      </table>
    </div>
    <div class="actions">
      <button type="submit">Post</button>
    </div>
  </div>
</form>

{{#each}}
  <div class="topic">
    {{#each post in this.posts}}
      {{format-date post.createdAt}}
      {{post.name}} says
      {{post.body}}
      <a {{bind-attr href="post.photo_url"}}><img {{bind-attr src="post.photo_thumb_url"}} /></a>
      <br />
    {{/each}}
    {{#link-to 'topic' this}}
      Reply
    {{/link-to}}
  </div>
  <br style="clear:both;" />
  <hr />
{{/each}}
